body{
	background: rgb(255,255,249);
}
header{
	padding-left: 20px;
	padding-right: 20px;
	color:rgb(255,255,249);
	text-align: center;
	background:rgb(136,191,191);
	height: 140px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header div {
	display: inline-flex;
}
