body{
	background: rgb(255,255,249);
	font-family: 'Hiragino Maru Gothic ProN';
	}	

header{
	padding-left: 10px;
	padding-right: 10px;
	color:rgb(255,255,249);
	text-align: center;
	font-size: 50px;
	background:rgb(136,191,191);
	height: 140px;
	line-height: 140px;
	align-items: center;
}

.container{
	display: flex;
	/*display: inline-flex;*/
	justify-content: space-between;
	}
.button{
	margin-top: 10px;
	height: 120px;
}
.grass{
	position: absolute;
	bottom:0%;
}
.sheep{
	position: absolute;
	bottom:5%;
	right: 0%;
	transform: translateX(25%);
}
.balloon{
	position: absolute;
	bottom:14%;
	left:0%;
	transform: translateX(15%);
}

/*今日の睡眠時間*/
.day table {
	position: absolute;
	border-collapse: collapse;
	width: 100%;
	height:60%;
}
.day td {
	padding: 50px;
	width: 50%;
	font-size: 30px;
	color:rgb(81,72,68);
	vertical-align:top;
}
.right-space{
	text-align: right;
}
.deeply{
	position: absolute;
	width: 35%;
	height:30%;
	top: 200px;
	left:120px;
	background: rgb(136,191,191);
}
.nap{
	position: absolute;
	width: 35%;
	height:3%;
	top: 800px;
	left:120px;
	background: rgb(112,155,155);
}
.doze{
	position: absolute;
	width: 35%;
	height:1%;
	top: 400px;
	right:120px;
	background: rgb(90,128,128);
}

.line {
	position: absolute;
	width: 1px;
	height: 60%;
	top: 150px;
	left: 50%;
	transform: translateX(-50%);
	border-left: dashed 5px gray;
}

/*1週間の睡眠時間*/
.week table {
	position: absolute;
	border-collapse: collapse;
	width: 100%;
	height:60%;
}
.week td {
	padding: 50px;
	font-size: 30px;
	color:rgb(81,72,68);
	
}

.goalline {
	position: absolute;
	width: 1px;
	height: 60%;
	top: 150px;
	left: 55%;
	transform: translateX(-50%);
	border-left: dashed 5px gray;
}
.left-space2{
	width: 20%;
	text-align:center

}
.right-space2{
	widows:80%
}
.six{
	position: absolute;
	width: 340px;
	height:30px;
	top: 200px;
	left:200px;
	background: rgb(136,191,191);

}
.five{
	position: absolute;
	width: 150px;
	height:30px;
	top: 350px;
	left:200px;
	background: rgb(90,128,128);
}
.four{
	position: absolute;
	width: 400px;
	height:30px;
	top: 500px;
	left:200px;
	background: rgb(136,191,191);
}
.three{
	position: absolute;
	width: 600px;
	height:30px;
	top: 650px;
	left:200px;
	background: rgb(112,155,155);
}
.two{
	position: absolute;
	width: 200px;
	height:30px;
	top: 800px;
	left:200px;
	background: rgb(90,128,128);
}
.one{
	position: absolute;
	width: 330px;
	height:30px;
	top: 945px;
	left:200px;
	background: rgb(136,191,191);
}
.zero{
	position: absolute;
	width: 340px;
	height:30px;
	top: 1100px;
	left:200px;
	background: rgb(136,191,191);
}

/*一ヶ月*/
.month{
	margin:50px;
}


/*設定*/
.set{
	font-size: 50px;
	color:rgb(81,72,68);
	padding: 50px 70px;
	border-bottom: solid 2px gray; 
}

