
.top{
	font-family: 'Hiragino Maru Gothic ProN';
	background-color:rgb(136,191,191);
	color:rgb(81,72,68);
	text-align: center;
	font-size: 12px;
}

.CountSleep{
	padding-bottom:20px;
	color:rgb(255,255,249);

}

.homeicon{
	padding-top:120px;
	font-size: 25px;
}
.icon{
	padding-top:80px;
	font-size: 20px;
}
.icon2{
	padding-top:30px;
	font-size: 20px;
}
input.fild2{
	width:130px;
}

.link{
	background-color:rgb(136,191,191);
}
.home1{
	width:150px;
	background-color:rgb(255,255,249);
	font-size: 12px;
	padding:5px;
	margin:15px auto;
	border-radius: 20px 20px 20px 20px;
	color:rgb(136,191,191);
}


.home2{
	width:150px;	
	border: 1px solid #fffff9;
	font-size: 12px;
	padding:5px;
	margin:15px auto;
	border-radius: 20px 20px 20px 20px;
	color:rgb(255,255,249);
}

.container2{
	background-color:rgb(136,191,191);
	padding:15px;
	display: flex;
	justify-content: space-between;
	}

.field{
	font-size: 12px;
	width:100vw;
	color:rgb(81,72,68);
	padding: 10px 20px;
	border-bottom: solid 1px gray; 
}


input {
	width:120px;
  border: 1px solid #88bfbf;
  border-radius: 5px;
  padding: 5px;
}
input:focus {
  border: 1px solid #88bfbf;
  outline: 0;
}