// Place all the styles related to the sleeps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: rgb(255,255,249);
	font-family: 'Hiragino Maru Gothic ProN';
}
header{
	position: fixed;
	top:0px;
	width:100%;
	padding-left: 10px;
	padding-right: 10px;
	color:rgb(255,255,249);
	text-align: center;
	font-size: 20px;
	background-color:rgb(136,191,191);
	height: 70px;
	line-height: 70px;
	align-items: center;
}

.container{
	display: flex;
	/*display: inline-flex;*/
	justify-content: space-between;
	}

.button{
	margin-top: 10px;
	height: 70px;
}

.submit-btn {
	width: 50px;
	height: 50px;
	background-image: image-url('submit.png');
	background-size: cover;
}

.grass img{
	width:100%;
	position: fixed;
	bottom:0%;
}
.sheep img{
	height:130px;
	position: fixed;
	bottom:10px;
	right: 10px;
	
}
.balloon img{
	width:60%;
	position: fixed;
	bottom:100px;
	left:10px;
	
}

/*今日の睡眠時間*/
.day table {
	position: absolute;
	border-collapse: collapse;
	top:80px;
	width: 100%;
	height:50%;
}
.day td {
	padding-top: 10px;
	padding-bottom: 60px;
	padding-right:20px;
	padding-left:20px;
	width: 50%;
	height:90px;
	font-size: 12px;
	color:rgb(81,72,68);
	vertical-align:top;
}
.right-space{
	text-align: right;
}
.deeply{
	position: absolute;
	// width: 120px;
	// height:180px;
	top: 100px;
	// left:50px;
	// background: rgb(136,191,191);
}
.nap{
	position: absolute;
	// width: 120px;
	// height:20px;
	top: 100px;
	// left:50px;
	// background: rgb(112,155,155);
}
.doze{
	position: absolute;
	// width: 120px;
	// height:10px;
	top: 100px;
	// right:50px;
	// background: rgb(90,128,128);
}

.line {
	position: absolute;
	width: 1px;
	height: 400px;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	border-left: dashed 2px gray;
}

/*1週間の睡眠時間*/
.week table {
	position: absolute;
	border-collapse: collapse;
	top:70px;
	width: 100%;
	height:50%;
}
.week td {
	padding: 18px;
	font-size: 12px;
	color:rgb(81,72,68);
	
}

.goalline {
	position: absolute;
	width: 1px;
	height: 360px;
	top: 80px;
	left: 55%;
	transform: translateX(-50%);
	border-left: dashed 2px gray;
}
.left-space2{
	width: 20%;
	text-align:center

}
.right-space2{
	widows:80%
}
.six{
	position: absolute;
	width: 130px;
	height:15px;
	top: 90px;
	left:75px;
	background: rgb(136,191,191);

}
.five{
	position: absolute;
	width: 70px;
	height:15px;
	top: 145px;
	left:75px;
	background: rgb(90,128,128);
}
.four{
	position: absolute;
	width: 140px;
	height:15px;
	top: 199px;
	left:75px;
	background: rgb(136,191,191);
}
.three{
	position: absolute;
	width: 200px;
	height:15px;
	top: 252px;
	left:75px;
	background: rgb(112,155,155);
}
.two{
	position: absolute;
	width: 180px;
	height:15px;
	top: 305px;
	left:75px;
	background: rgb(90,128,128);
}
.one{
	position: absolute;
	width: 100px;
	height:15px;
	top: 360px;
	left:75px;
	background: rgb(136,191,191);
}
.zero{
	position: absolute;
	width: 130px;
	height:15px;
	top: 415px;
	left:75px;
	background: rgb(136,191,191);
}

/*一ヶ月*/
.month{
	margin:25px;
	margin-top:80px;
	margin-bottom:250px;
}

.mesh1 {
	// display: inline-block;
	margin: -2px;
	margin-bottom: -15px;
	// align-self: flex-start;
	width:45px;
	height:45px;

}

.mesh2 {
	// margin-bottom:30px;
	margin: -2px;
	margin-bottom:2px;
	width:45px;
}

.wool1 img{
	position:fixed;
	bottom:50px;
	left:50px;
	height:50px;
}
.wool2 img{
	position:fixed;
	bottom:5px;
	left:100px;
	height:60px;
}
.wool3 img{
	position:fixed;
	bottom:5px;
	left:30px;
	height:50px;
}

/*設定*/
.setup{
	position: absolute;
	top:70px;
}
.set{
	font-size: 15px;
	width:100vw;
	color:rgb(81,72,68);
	padding: 20px 30px;
	border-bottom: solid 1px gray; 
}

// 新規
.data{
	width:100vw;
	font-size: 15px;
	color:rgb(81,72,68);
	padding: 20px 30px;
	border-bottom: solid 1px gray;
}

